[submodule "lib/tpl/vyfuk"]
	path = lib/tpl/vyfuk
	url = https://github.com/fykosak/dokuwiki-template-vyfuk.git
	branch = dev
[submodule "lib/plugins/reporttool"]
	path = lib/plugins/reporttool
	url = https://github.com/ThatPerkel/dokuwiki-plugin-reporttool.git
[submodule "lib/plugins/fkshelper"]
	path = lib/plugins/fkshelper
	url = https://github.com/fykosak/dokuwiki-plugin-fkshelper.git
[submodule "lib/plugins/social"]
	path = lib/plugins/social
	url = https://github.com/fykosak/dokuwiki-plugin-social.git
	branch = dev-php-74
[submodule "lib/plugins/sqlite"]
	path = lib/plugins/sqlite
	url = https://github.com/cosmocode/sqlite.git
[submodule "lib/plugins/fksdbauth"]
	path = lib/plugins/fksdbauth
	url = https://github.com/fykosak/dokuwiki-plugin-fksdbauth.git
[submodule "lib/plugins/fksdownloader"]
	path = lib/plugins/fksdownloader
	url = https://github.com/fykosak/dokuwiki-plugin-fksdownloader.git
[submodule "lib/plugins/fkstaskrepo"]
	path = lib/plugins/fkstaskrepo
	url = https://github.com/fykosak/dokuwiki-plugin-fkstaskrepo.git
[submodule "lib/plugins/fksdbexport"]
	path = lib/plugins/fksdbexport
	url = https://github.com/fykosak/dokuwiki-plugin-fksdbexport.git
[submodule "lib/plugins/fksnewsfeed"]
	path = lib/plugins/fksnewsfeed
	url = https://github.com/fykosak/dokuwiki-plugin-newsfeed.git
[submodule "lib/plugins/gallery"]
	path = lib/plugins/gallery
	url = https://github.com/fykosak/dokuwiki-plugin-gallery.git
	branch = dev-vyfuk
